#header {
 font-family: 'Luckiest Guy', cursive;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #E59866
}

h2 {
  font-family: 'Julee', cursive;
  font-weight: bold;
}

h3 {
  font-family: 'Julee', cursive;
  font-weight: bold;
}

.julee {
  font-family: 'Sniglet', cursive;
}

body {
  background-image: url("../image/background.jpg");
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
